<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>42C2C07629DEA1E15A9A3E3DEB44FC23</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
